{% extends "worker/workregbase.html" %}
{% block content %}
{%load crispy_forms_tags %}
<div class="col-lg-20 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">

 <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form1|crispy}}
                        {{form2|crispy}}
     <button type="submit" >submit</button>

                      </form>

                </div>
              </div>
</div>
{% endblock %}
